# Services overrides for linting

name: python-template-lint

x-common:

  app-lint-environment: &app-lint-environment
    SCORE_THRESHOLD: ${LINT_SCORE_THRESHOLD_APP:-}

services:

  # Inherited
  app:
    # Build override
    image: ${IMAGES_PREFIX:-app}-lint-app:${IMAGES_TAG:-latest}
    build:
      target: app_lint
      args:
        UID: ${DOCKER_UID:-${UID:-1000}}
    # Deploy override
    user: ${DOCKER_UID:-${UID:-1000}}
    environment:
      <<: [ *app-lint-environment ]
    tmpfs:
      - /tmp:mode=1777,exec,uid=${DOCKER_UID:-${UID:-1000}},gid=0
    ports: !reset null
