# Services template for linting Dockerfiles

x-common:

  hadolint-command: &hadolint-command
    - hadolint
    - /app/Dockerfile
    - --info
    - DL3008 # Pin versions in apt get install
    - --info
    - DL3018 # Pin versions in apk add
    - --info
    - DL3042 # Avoid use of cache directory with pip
    - --failure-threshold
    - warning

services:

  lint-dockerfile:
    # Build
    image: hadolint/hadolint:v2.14.0-alpine
    # Deploy
    working_dir: /app
    command: *hadolint-command
    # volumes:
    #   - ./Dockerfile:/app/Dockerfile  # Edit this!
