# -- Generic rules:

# Environment files
**/.env*.local*

# Temporary files
**/._*
**/*.cache
**/*.log*
**/*.swp
**/*~

# System files
**/.DS_Store
**/Thumbs.db

# -- Editor rules:

# VS Code
**/.vscode/

# Jetbrains
**/.idea/

# Other
**/*.njsproj
**/*.ntvs*
**/*.sln
**/*.suo
**/*.sw?

# -- Application rules:

# Python
**/__pycache__/
**/.ipynb_checkpoints/
**/.pytest_cache/
**/.ruff_cache/
**/.venv/
**/.coverage
**/cov.json

# -- Service rules:

# All services
data/
**/.env*

# -- Docker rules:

# Docker configuration files
Dockerfile
docker-compose*.yml
