#:dockerc.abstract
# Services definition for building & deploying

x-common:

  app-environment: &app-environment
    # Environment
    VERSION_TAG: ${VERSION_TAG:-}

services:

  app:
    # Build
    image: ${IMAGES_PREFIX:-app}-app:${IMAGES_TAG:-latest}
    build:
      context: .
      dockerfile: ./Dockerfile
      target: app_prod
      args:
        PORT: ${APP_DOCKER_PORT:-8080}
    # Deploy
    environment:
      <<: [ *app-environment ]
    healthcheck:
      test: [ "CMD", "app-healthcheck" ]
      interval: 20s
      timeout: 10s
      retries: 10
      start_period: 20s
    ports:
      - ${APP_PORT:-8080}:${APP_DOCKER_PORT:-8080} # HTTP
